@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COMP2084- LAB2</h1>
    <p class="lead">Lab is to check ability to successfully create a new MVC Web Application and use some basic MVC Concepts </p>
    <p>source code can be accessed from <a href="https://github.com/ANJALIAPILLAI/COMP2084-Lab2" class="btn btn-primary btn-lg">GITHUB</a></p>
</div>
